server:
  port: 8080

spring:
  application:
    name: API-GATEWAY

  cloud:
    gateway:
      routes:
        - id: product
          uri: http://localhost:8082
          predicates:
            - Path=/products/**

logging:
  level:
    org.springframework.cloud.gateway: TRACE
